@model _08_05_Olympics.Models.ViewModels.JoinedViewModel

<h2 class="d-inline-block mb-4">Athletes</h2>

@Html.ActionLink("Add an athlete", "Create", "Athletes", null, new { @class = "btn btn-primary float-right" })
<p></p>


@using (Html.BeginForm("SortFilter", "Athletes", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Athletes[0].Country_id, "Select how to sort:")
        @Html.DropDownListFor(m => m.SortFilter.Sort, new SelectList(Model.SortFilter.SortSelection), "", new { @class = "form-control" })
        <div class="form-group">
            @Html.LabelFor(m => m.SortFilter.FilterSport, "Select what sport you want to filter by: ")
            @Html.DropDownListFor(m => m.SortFilter.FilterSport, new SelectList(Model.Sports.Select(s => s.SportName)), "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SortFilter.FilterCountry, "Select what country you want to filter by: ")
            @Html.DropDownListFor(m => m.SortFilter.FilterCountry, new SelectList(Model.Countries.Select(s => s.CountryName)), "", new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Sort</button>
    </div>

}

@if (Model.Athletes.Count == 0)
{
    <p>The Olympics games this ear are kinda slow..</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Surname</th>
                <th class="text-center">Country</th>
                <th class="text-center">Sports</th>
                <th class="text-center">Action Buttons</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var athlete in Model.Athletes)
            {
            <tr>
                <td class="text-center">@athlete.Name</td>
                <td class="text-center">@athlete.Surname</td>
                <td class="text-center">@athlete.Country.CountryName</td>
                <td class="text-center">
                    <ul class="m-0">
                        @for (int i = 0; i < athlete.Sports.Count; i++)
                        {
                            int sportId = athlete.Sports.ElementAt(i).Key;
                            <li>@Model.Sports.Single(s => s.Id == sportId).SportName</li>
                        }
                    </ul>
                </td>
                <td class="btn-toolbar">
                    <button>@Html.ActionLink("Delete", "Delete", "Athletes", new { id = athlete.Id }, new { @class = "btn btn-danger", @style = "color:white" })</button>
                    <button>@Html.ActionLink("Edit", "Edit", "Athletes", new { id = athlete.Id }, new { @class = "btn btn-warning", @style = "color:white" })</button>
                    <ul></ul>
                </td>
            </tr>
            }
        </tbody>
    </table>
}